  :root {
      --primary: #4ade80;
      --grey: #64748b;
      --dark: #1e293b;
      --dark-alt: #334155;
      --light: #fff;
      --sidebar-width: 300px;
      --sidebar-height: 100vh;
      --ash: #c2bebe3e;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Fira Sans' 'sans-serif';
  }

  body {
      background-color: var(--ash);
  }

  button {
      cursor: pointer;
      appearance: none;
      border: none;
      outline: none;
      background: none;
  }

  .app {
      display: flex;

      main {
          flex: 1 1 0;
          padding: 2rem;

          @media(max-width: 760px) {
              padding-left: 6rem;
          }
      }
  }